<div class="container">
  <span class="title">QUIZ MAKER</span>
  <ng-container *ngIf="categories?.length > 0; else loadingCategoriesTmpl">
    <div class="create-container">
      <select id="categorySelect" [(ngModel)]="categorySelected" class="select category">
        <option [ngValue]="undefined" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [ngValue]="category?.id">{{category.name}}</option>
      </select>
      <select id="difficultySelect" [(ngModel)]="difficultySelected" class="select">
        <option [ngValue]="undefined" disabled selected>Select difficulty</option>
        <option ngValue="easy">Easy</option>
        <option ngValue="medium">Medium</option>
        <option ngValue="hard">Hard</option>
      </select>
      <button id="createBtn" class="btn create" (click)="onCreate()" [class.disabled]="!categorySelected || !difficultySelected">Create</button>
    </div>
  </ng-container>
  <ng-template #loadingCategoriesTmpl>
    <div>Loading categories...</div>
  </ng-template>
  <ng-container *ngIf="questions?.length > 0 || !isLoadingQuestions; else loadingQuestionsTmpl">
    <div class="questions-container">
      <div *ngFor="let question of questions" class="question-container">
        <span [innerHTML]="question?.question" class="question"></span>
        <div class="answers-container">
          <button *ngFor="let answer of question?.answers; let i = index" class="btn answer" [innerHTML]="answer"
            (click)="onSelectedAnswer(question, i)" [class.selected]="question?.selectedAnswer === i"></button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingQuestionsTmpl>
    <div>Loading questions...</div>
  </ng-template>
  <button class="btn submit" *ngIf="canSubmit" (click)="onSubmit()">Submit</button>
</div>
