:host {
  .wrong {
    background-color: red;
  }
  .correct {
    background-color: green;
  }

  .low {
    background-color: red;
  }

  .medium {
    background-color: yellow;
  }

  .high {
    background-color: green;
  }
}